@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-rgb: 88, 88, 88;
  --gray-rgb: 244, 244, 244;
  --white-rgb: 253, 253, 253;
  --orange-rgb: 241, 121, 75;
}

body {
  color: rgb(var(--black-rgb));
  background: rgb(var(--gray-rgb));
}

h1, h2, h3 {
  @apply text-center my-8
}
h1 { @apply text-4xl}
h2 { @apply text-2xl}
h3 { @apply text-xl}
/*body a {*/
/*  color: rgb(var(--orange-rgb));*/
/*}*/

/*body a:hover {*/
/*  text-decoration: underline;*/
/*}*/

@layer components {
  /** sample custom class */
  /*.c-container {*/
  /*  @apply bg-[rgb(var(--background-content-rgb))] rounded-3xl*/
  /*  hover:rounded-xl hover:bg-gray-300*/
  /*}*/
  .content {
    width: 1248px;
    @apply mx-auto
    /*border-2 border-black;*/
  }
  .main-content { @apply p-6 bg-white-rgb}
  .button-bw { @apply border-0 text-white-rgb bg-black-rgb hover:bg-orange-rgb hover:border-orange-rgb }
  .calendar-container { @apply h-[700px] }
  .calendar-event-single { @apply mb-2 rounded-lg p-2 opacity-75 border-2 hover:opacity-100 }
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}
