@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-rgb: 14, 14, 14;
  --gray-rgb: 244, 244, 244;
  --white-rgb: 253, 253, 253;
  --orange-rgb: 241, 121, 75;
}

body {
  color: rgb(var(--black-rgb));
  background: rgb(var(--gray-rgb));
}

/*body a {*/
/*  color: rgb(var(--orange-rgb));*/
/*}*/

/*body a:hover {*/
/*  text-decoration: underline;*/
/*}*/

@layer components {
  /** sample custom class */
  /*.c-container {*/
  /*  @apply bg-[rgb(var(--background-content-rgb))] rounded-3xl*/
  /*  hover:rounded-xl hover:bg-gray-300*/
  /*}*/
  .content {
    width: 1248px;
    @apply mx-auto
    /*border-2 border-black;*/
  }
  .main-content { @apply p-6 bg-white-rgb}
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}
